<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Page Title</title>
</head>

<body>
    <h1>Review do Livro</h1>
    <%= item.Book %>
    <h2>Review:</h2>
    <%= item.Description %>
    <h2>Review By</h2>
    <p>Author: <%= item.name %></p>
    <p>E-mail: <%= item.email %></p>
    <p>Red the whole book: <%= item.read %></p>
</body>

</html>