<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href=''>
</head>

<body>
    <h1>Review do Livro</h1>
    <%= book %>
    <h2>Review:</h2>
    <%= description %>
    <h2>Review By</h2>
    <p>Author: <%= name %></p>
    <p>E-mail: <%= email %></p>
    <p>Red the whole book: <%= read %></p>

    <img src="<%= image %>" alt="image"
    >
</body>

</html>